<head>
 <title>Homepage</title>
</head>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% if request.user.is_authenticated %}

    {{user.username}} | <a href="{% url 'logout'  %}"><button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Logout</button></a>




    {% else %}
    <a href="{% url 'register'  %}"><button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Register</button></a>
    <a href="{% url 'login'  %}"><button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Login</button></a>
    {% endif %}
  </div>
</nav>



